requests==2.32.5
beautifulsoup4==4.13.5
Flask==3.1.2
Flask-WTF==1.2.2
gunicorn==23.0.0
holidays==0.80
staticmap==0.5.7
yt-dlp==2026.8.19
ctranslate2==4.4.0; python_version < "3.9"
ctranslate2==4.8.2; python_version >= "3.9"
sentencepiece==0.2.0; python_version < "3.9"
sentencepiece==0.2.2; python_version >= "3.9"
sacremoses==0.1.1
subword-nmt==0.3.8
